@charset "UTF-8";

.input-area {
	width: 300px;
	height: 200px;
	background-color: #FFFFDD;
	display: flex;
}

.output-preview-area {
	width: 300px;
	height: 200px;
	background-color: #a9a9a9;
}

#input-image {
	width: 150px; 
	height: 100px;
	border: solid;
	background-color: white;
}
.container {
	display: flex;
}

/*ボタンの設定*/
.radius-button {
	display: inline-block;
	padding: 7px 20px;
	border-radius: 25px;
	text-decoration: none;
	color: #FFF;
	background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
}

.box {
	margin: 5px;
	width: 100px;
	height: 100px;
	background-color: #FFFFDD;
	border: solid;
	position: relative;
}

/*divタグ内のリンクを全体に広げる*/
.box a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box:hover{
  opacity: 0.7;
  transition: 0.5s;
}

.preview img {
	max-width: 100%;
	height: auto;
	display: block;
}

/*メニューバーの設定*/
nav.menu-bar {
	width: 100%;
  	height: 70px;
  	background-color: dimgray;
  	padding-top: 5px;
  	box-sizing: border-box;
}

ul.menu-bar {
	display: flex;
}

li.menu-bar {
	list-style: none;
}

a.menu-bar {
	display: block;
	text-decoration: none;
	color: white;
	margin-right: 35px;
}
